# Stock Price Prediction using Forecasting

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('Data/BAJFINANCE.csv')
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,BAJAUTOFIN,EQ,46.95,49.45,50.75,46.5,50.75,50.75,50.05,7600,3.803800e+10,NaN,NaN,NaN
1,2000-01-04,BAJAUTOFIN,EQ,50.75,53.20,53.20,47.9,48.00,48.10,48.56,5000,2.428000e+10,NaN,NaN,NaN
2,2000-01-05,BAJAUTOFIN,EQ,48.10,46.55,47.40,44.6,44.60,44.60,45.47,3500,1.591450e+10,NaN,NaN,NaN
3,2000-01-06,BAJAUTOFIN,EQ,44.60,43.50,46.00,42.1,46.00,45.25,44.43,6200,2.754750e+10,NaN,NaN,NaN
4,2000-01-07,BAJAUTOFIN,EQ,45.25,48.00,48.00,42.0,42.90,42.90,44.44,3500,1.555550e+10,NaN,NaN,NaN

In [6]:
## setting df index to date
df.set_index('Date', inplace=True)

## Data Preprocessing

### Checking for Null Values

In [8]:
## checking for null values
df.isnull().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                2779
Deliverable Volume     446
%Deliverble            446
dtype: int64

In [10]:
## checking for null data in Trades
df[df['Trades'].isnull()]

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2000-01-03,BAJAUTOFIN,EQ,46.95,49.45,50.75,46.50,50.75,50.75,50.05,7600,3.803800e+10,NaN,NaN,NaN
2000-01-04,BAJAUTOFIN,EQ,50.75,53.20,53.20,47.90,48.00,48.10,48.56,5000,2.428000e+10,NaN,NaN,NaN
2000-01-05,BAJAUTOFIN,EQ,48.10,46.55,47.40,44.60,44.60,44.60,45.47,3500,1.591450e+10,NaN,NaN,NaN
2000-01-06,BAJAUTOFIN,EQ,44.60,43.50,46.00,42.10,46.00,45.25,44.43,6200,2.754750e+10,NaN,NaN,NaN
2000-01-07,BAJAUTOFIN,EQ,45.25,48.00,48.00,42.00,42.90,42.90,44.44,3500,1.555550e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-05-25,BAJFINANCE,EQ,601.20,593.00,619.00,590.00,597.00,595.05,598.98,5391,3.229096e+11,NaN,4100.0,0.7605
2011-05-26,BAJFINANCE,EQ,595.05,593.00,607.40,588.20,597.90,595.40,594.93,3341,1.987653e+11,NaN,2004.0,0.5998
2011-05-27,BAJFINANCE,EQ,595.40,585.00,667.00,585.00,620.00,630.75,627.19,11270,7.068407e+11,NaN,6614.0,0.5869
2011-05-30,BAJFINANCE,EQ,630.75,611.05,626.00,611.05,614.70,613.55,613.97,4381,2.689823e+11,NaN,2857.0,0.6521
2011-05-31,BAJFINANCE,EQ,613.55,615.00,618.00,612.00,616.00,616.70,615.58,4644,2.858738e+11,NaN,3262.0,0.7024

There's a lot of missing data, almost around 11 years of data. So, we drop the feature.

### Dropping Trades Feature & Some Null Values

In [ ]:
## dropping the Trades features
df.drop(['Trades'], axis=1, inplace=True)

In [14]:
## dropping missing values Deliverable Volume and %Deliverable
df.dropna(inplace=True)

In [16]:
df.isnull().sum()

Symbol                0
Series                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Deliverable Volume    0
%Deliverble           0
dtype: int64

### Checking for Duplicate Values

In [21]:
## checking if we have duplicate values
df.duplicated().sum()

np.int64(0)